.root {
  .bgContainer {
    width: 100%;
    height: 456px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .content {
      width: 670px;
      position: absolute;
      top: 15%;
      left: 20%;

      .title {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 1rem;
      }
  
      p {
        &:first-child {
          margin-bottom: .75rem;
        }
      }
    }

  }
}