.root {
  max-width: 1280px;
  padding: 2.5rem;
  margin: auto;

  .title {
    font-size: 2.125rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .productContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;

    .product {
      width: 100%;
      border: 1px solid #E8E9EA;
      display: flex;
      flex-direction: column;

      .productImg {
        position: relative;
        width: 100%;
        height: 13rem;
        border-bottom: 1px solid #E8E9EA;
        cursor: pointer;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .salePercentage {
          position: absolute;
          top: 5%;
          left: 5%;
          border: 2px solid #FBE303;
          background: #fff;
          padding: .25rem .5rem;
          font-size: 15px;
          font-weight: 500;
          color: #171B24;
        }
      }


      .productInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 14rem;
        padding: 1rem;

        .productTitle {
          margin-bottom: .75rem;
          overflow: auto;
          color: #2F323A;
        }

        .price {
          margin-bottom: .75rem;
          font-size: 1.25rem;
          line-height: 1.75rem;
          color: #2F323A;

          span {
            font-weight: 700;
          }

          .salesPrice {
            margin-right: .75rem;
          }

          .realPrice {
            text-decoration-line: line-through;
            color: #8B8D92;
          }
        }
      }
    }
  }
}

// Tablet
@media only screen and (width <= 1024px) {
  .root {
    padding: 2rem;

    .title {
      font-size: 1.8rem;
    }

    .productContainer {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      .product {
        display: flex;
        flex-direction: column;
        height: 100%;

        .productImg {
          width: 100%;
          height: 250px;

          img {
            height: inherit;
          }
        }

        .productInfo {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


@media only screen and (width <= 640px) {
  .root {
    padding: 1rem;

    .productContainer {
      gap: .5rem;

      .product {
        min-height: 410px;
        text-align: center;
      }
    }
  }
}

@media only screen and (width <= 500px) {
  .root {
    .productContainer {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}