.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 8rem;
  margin: auto;
  border-bottom: 1px solid #E8E9EA;
  border-top: 1px solid #E8E9EA;
  max-width: 1536px;
  gap: 1rem;

  .logo {
    min-width: 6rem;
    max-width: 8rem;

    img {
      width: 100%;
    }
  }

  .categories {
    text-align: center;
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  
    .cart {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
  
      span {
        font-size: 14px;
      }
    }
  
    a {
      margin-right: 1.5rem;
      color: #454950;
      cursor: pointer;
    }
  }

  .cart {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    span {
      font-size: 14px;
    }
  }
}



// Tablet
@media only screen and (width >= 640px) and (width <= 1024px) {
  .root {
    padding: 1.25rem 2rem;
  }
}

// Mobile
@media only screen and (width >= 320px) and (width < 640px) {
  .root {
    padding: 1rem 2rem;
  } 
}