.root {
  width: 100%;
  background: #2F323A;
  color: #E8E9EA;
  background-attachment: fixed;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer {
    width: 100%;
    margin: auto;
    max-width: 1536px;
    padding: 5rem 8rem;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        img {
          width: 180px;
          margin-bottom: 1rem;
        }
      }

      .info {
        .contactsTitle {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .contactsAddress {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }

        .phoneNumbers {
          margin-bottom: 2rem;

          li {
            a {
              font-weight: 600;
            }

            &:not(:last-child) {
              margin-bottom: .8rem;
            }
          }
        }

        .socials {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          
          li {
            a {
              img {
                width: 35px;
                height: 35px;
              }
            }

            &:not(:last-child) {
              margin-right: 1rem;
            }
          }
        }

        .email {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }
    }
  }
}